@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";
@import "node_modules/progress-tracker/src/styles/progress-tracker.scss";
@import "~react-datepicker/dist/react-datepicker.css";

#root {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.react-datepicker-wrapper {
    display: block;
}
div.card{display:inline-block;}
div.card div.card-body{overflow-y:scroll; max-height: 100px; display:inline-block;}
div.pad{ padding-bottom: 20px;}
div.invalid-duration{color:#d93e45;}
div.invalid-feedback{display:block;}